.rec.rec-arrow:hover,
.rec.rec-arrow:focus,
.rec.rec-arrow:hover:enabled,
.rec.rec-arrow:focus:enabled {
  background-color: #ff8730;
}

.rec.rec-carousel-item {
  display: flex;
}

.rec.rec-dot.rec-dot_active {
  background-color: rgba(255, 135, 48, 0.5);
  box-shadow: #ff8730 0px 0px 1px 3px;
}

.desktop-carousel,
.tablet-carousel {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .mobile-carousel {
    display: none !important;
  }

  .tablet-carousel {
    display: flex !important;
  }
}

@media screen and (min-width: 1024px) {
  .tablet-carousel {
    display: none !important;
  }

  .desktop-carousel {
    display: flex !important;
  }
}
